w3lib==2.1.2
pyasn1==0.4.8
sympy==1.13.2
multidict==6.0.4
async-lru==2.0.4
h5py==3.11.0
python-slugify==5.0.2
black==24.8.0
pydantic_core==2.23.4
SQLAlchemy==2.0.34
rfc3339-validator==0.1.4
executing==0.8.3
panel==1.5.2
docstring-to-markdown==0.11
text-unidecode==1.3
tornado==6.4.1
lazy_loader==0.4
matplotlib==3.9.2
nbconvert==7.16.4
tldextract==5.1.2
decorator==5.1.1
Sphinx==7.3.7
gmpy2==2.1.2
lckr_jupyterlab_variableinspector==3.1.0
traitlets==5.14.3
hvplot==0.11.0
mdit-py-plugins==0.3.0
nest-asyncio==1.6.0
ujson==5.10.0
jaraco.classes==3.2.1
pyodbc==5.1.0
multipledispatch==0.6.0
Markdown==3.4.1
jsonschema-specifications==2023.7.1
pandocfilters==1.5.0
ptyprocess==0.7.0
mdurl==0.1.0
sphinxcontrib-devhelp==1.0.2
service-identity==18.1.0
pyobjc-core==10.1
PyYAML==6.0.1
nltk==3.9.1
queuelib==1.6.2
unicodedata2==15.1.0
gensim==4.3.3
tinycss2==1.2.1
jupyterlab==4.2.5
GitPython==3.1.43
notebook==7.2.2
toml==0.10.2
Mako==1.3.9
mlflow-skinny==2.21.0
typing_extensions==4.11.0
filelock==3.13.1
rl_pa1==0.1.0
urllib3==2.2.3
cookiecutter==2.6.0
pytest==7.4.4
colorama==0.4.6
uvicorn==0.34.0
python-lsp-jsonrpc==1.1.2
scikit-learn==1.3.0
smart-open==5.2.1
numpydoc==1.7.0
attrs==23.1.0
intervaltree==3.1.0
Pygments==2.15.1
et-xmlfile==1.1.0
uv==0.6.8
pathspec==0.10.3
itemadapter==0.3.0
contourpy==1.2.0
PyWavelets==1.7.0
python-json-logger==2.0.7
jupyter_server_terminals==0.4.4
autopep8==2.0.4
tomlkit==0.11.1
astropy==6.1.3
defusedxml==0.7.1
stack-data==0.2.0
mypy==1.11.2
graphql-core==3.2.6
requests==2.32.3
xlwings==0.32.1
datashader==0.16.3
Werkzeug==3.0.3
graphene==3.4.3
spyder-kernels==2.5.0
openpyxl==3.1.5
pickleshare==0.7.5
cloudpickle==3.0.0
Jinja2==3.1.4
Rtree==1.0.1
rpds-py==0.10.6
pytoolconfig==1.2.6
locket==1.0.0
msgpack==1.0.3
bleach==4.1.0
torchaudio==2.2.2
aiohttp==3.10.5
yarl==1.11.0
tqdm==4.66.5
parso==0.8.3
six==1.16.0
seaborn==0.13.2
mypy-extensions==1.0.0
pandas==2.2.2
Farama-Notifications==0.0.4
h11==0.14.0
plotly==5.24.1
wheel==0.44.0
gitdb==4.0.7
aiohappyeyeballs==2.4.0
pyasn1-modules==0.2.8
kiwisolver==1.4.4
ipython==8.27.0
greenlet==3.0.1
appnope==0.1.2
jupyter-console==6.6.3
swig==4.2.1
QtPy==2.4.1
webencodings==0.5.1
inflection==0.5.1
joblib==1.4.2
hyperlink==21.0.0
dask==2024.8.2
zict==3.0.0
packaging==24.1
sentry-sdk==2.24.1
Unidecode==1.3.8
asttokens==2.0.5
isort==5.13.2
overrides==7.4.0
setuptools==75.1.0
itsdangerous==2.2.0
pytz==2024.1
httpcore==1.0.2
PySocks==1.7.1
jsonschema==4.19.2
rich==13.7.1
s3fs==2024.6.1
Babel==2.11.0
psutil==5.9.0
fsspec==2024.6.1
pyct==0.5.0
jupyter-events==0.10.0
pydantic==2.9.2
fastapi==0.115.11
argon2-cffi==21.3.0
partd==1.4.1
tifffile==2023.4.12
fonttools==4.51.0
pyobjc-framework-FSEvents==10.1
applaunchservices==0.3.0
tzdata==2023.3
jupyter-lsp==2.2.0
numba==0.60.0
PyQt5==5.15.10
param==2.1.1
sip==6.7.12
wurlitzer==3.0.2
pyls-spyder==0.4.0
markdown-it-py==2.2.0
lazy-object-proxy==1.10.0
pyviz_comms==3.0.2
debugpy==1.6.7
certifi==2024.8.30
jellyfish==1.0.1
jupyterlab-widgets==1.0.0
cffi==1.17.1
pycodestyle==2.11.1
intake==2.0.7
linkify-it-py==2.0.0
qtconsole==5.5.1
sphinxcontrib-applehelp==1.0.2
pyparsing==3.1.2
widgetsnbextension==3.6.6
platformdirs==3.10.0
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
arrow==1.2.3
pylint-venv==3.0.3
jax-jumpy==1.0.0
comm==0.2.1
imageio==2.33.1
appdirs==1.4.4
alabaster==0.7.16
box2d-py==2.3.5
threadpoolctl==3.5.0
watchdog==4.0.1
wrapt==1.14.1
atomicwrites==1.4.0
protobuf==4.25.3
sphinxcontrib-jsmath==1.0.1
pycparser==2.21
constantly==23.10.4
frozenlist==1.4.0
diff-match-patch==20200713
jedi==0.19.1
PyQtWebEngine==5.15.6
jupyter_core==5.7.2
pure-eval==0.2.2
alembic==1.14.1
opentelemetry-api==1.31.0
pycurl==7.45.3
jmespath==1.0.1
aiobotocore==2.12.3
parsel==1.8.1
lz4==4.3.2
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
bokeh==3.6.0
pyobjc-framework-CoreServices==10.1
chardet==4.0.0
graphql-relay==3.2.0
python-lsp-server==1.10.0
rope==1.12.0
itemloaders==1.1.0
pluggy==1.0.0
holoviews==1.19.1
Deprecated==1.2.18
colorcet==3.1.0
tblib==1.7.0
iniconfig==1.1.1
matplotlib-inline==0.1.6
pylint==2.16.2
fastjsonschema==2.16.2
requests-file==1.5.1
notebook_shim==0.2.3
blinker==1.6.2
terminado==0.17.1
tenacity==8.2.3
statsmodels==0.14.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
ipython-genutils==0.2.0
jupyter_client==8.6.0
altair==5.0.1
jupyter_server==2.14.1
ipywidgets==7.8.1
xyzservices==2022.9.0
gunicorn==23.0.0
mccabe==0.7.0
sortedcontainers==2.4.0
cssselect==1.2.0
rsa==4.9
sphinxcontrib-htmlhelp==2.0.0
wandb==0.19.8
charset-normalizer==3.3.2
Automat==20.2.0
binaryornot==0.4.4
gymnasium==0.28.1
pyzmq==25.1.2
mistune==2.0.4
Brotli==1.0.9
torch==2.2.2
jupyter==1.0.0
numexpr==2.8.7
stable-baselines3==2.0.0a5
setproctitle==1.3.5
wasabi==1.1.3
zipp==3.17.0
cmake==3.30.4
imagesize==1.4.1
sphinxcontrib-qthelp==1.0.3
jupyterlab_server==2.27.3
appscript==1.2.5
qstylizer==0.2.2
PyQt5-sip==12.13.0
pexpect==4.8.0
incremental==22.10.0
yapf==0.40.2
smmap==4.0.0
imagecodecs==2023.1.23
ipykernel==6.28.0
pip==24.2
idna==3.7
opentelemetry-semantic-conventions==0.52b0
torchvision==0.17.2
bcrypt==3.2.0
Bottleneck==1.3.7
distributed==2024.8.2
dill==0.3.8
Flask==3.0.3
networkx==3.3
google-auth==2.38.0
sphinxcontrib-serializinghtml==1.1.10
cytoolz==0.12.2
astroid==2.14.2
scikit-image==0.24.0
wcwidth==0.2.5
docutils==0.18.1
pygame==2.1.3
starlette==0.46.1
pydocstyle==6.3.0
tables==3.10.1
pillow==10.4.0
docker-pycreds==0.4.0
pyerfa==2.0.1.4
rfc3986-validator==0.1.1
tomli==2.0.1
PyDispatcher==2.0.5
keyring==24.3.1
opentelemetry-sdk==1.31.0
flake8==7.0.0
dask-expr==1.1.13
pyobjc-framework-Cocoa==10.1
Twisted==23.10.0
docker==7.1.0
referencing==0.30.2
imbalanced-learn==0.12.3
numpy==1.24.3
httpx==0.27.0
snowballstemmer==2.2.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
py-cpuinfo==9.0.0
lmdb==1.4.1
pydeck==0.8.0
sniffio==1.3.0
Protego==0.1.16
ply==3.11
sqlparse==0.5.3
pyarrow==16.1.0
jupyterlab-pygments==0.1.2
QtAwesome==1.3.1
botocore==1.34.69
whatthepatch==1.0.2
regex==2024.9.11
json5==0.9.6
pyOpenSSL==24.2.1
scipy==1.12.0
lxml==5.2.1
toolz==0.12.0
more-itertools==10.3.0
Scrapy==2.11.1
spyder==5.5.1
aiosignal==1.2.0
anyio==4.2.0
nbclient==0.8.0
mlflow==2.21.0
zope.interface==5.4.0
prometheus-client==0.14.1
huggingface-hub==0.25.1
beautifulsoup4==4.12.3
HeapDict==1.0.1
three-merge==0.1.1
annotated-types==0.7.0
MarkupSafe==2.1.3
astropy-iers-data==0.2024.9.2.0.33.23
patsy==0.5.6
databricks-sdk==0.46.0
cryptography==43.0.0
uc-micro-py==1.0.1
QDarkStyle==3.2.3
textdistance==4.2.1
pyflakes==3.2.0
click==8.1.7
huggingface-sb3==3.0
tabulate==0.9.0
cachetools==5.3.3
importlib-metadata==7.0.1
llvmlite==0.43.0
xarray==2023.6.0
websocket-client==1.8.0
rl_pa1==0.1.0
